.btn{
    background-color: rgb(156, 115, 85);
    color: white;
}
.banner{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
}
.height{
    height: 500px;
}
.img{
    width: 30px;
    background-color: rgb(156, 115, 85);
    padding: 6px;
}